/*  NAVBAR  */

#main-navbar .nav-link{
  color: white;
}
#main-navbar .nav-link:hover, #main-navbar a.active {
  background-color: #808080;
}

#nav-footer .nav-link{
  color: #e2e1e1;
}
#nav-footer .nav-link:hover, #nav-footer a.active {
  color: red;
}

#agenda {
  font-size: 13px;
  color: white;
  background-color: black;
}

.main-logo {
  height: 100px;
  margin-bottom: -70px;  /* Supaya logo offset ke bawah */
}
.small-logo {
  height: 60px;   /* Untuk logo kecil di footer */
}


/*  MAIN SLIDER - Halaman Home  */

#main-navbar{
  z-index: 1;  /* Agar logo tidak tertutup slider */
}

#main-slide .carousel-item{
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 90vh;
  background-attachment: fixed;
}

#main-slide h1 {
  margin-top: 50vh;   /* Posisikan teks di tengah slider */
}

#slide1{
  background-image: url('../img/full-image13.jpg');
}

#slide2{
  background-image: url('../img/full-image5.jpg');
}

#slide3{
  background-image: url('../img/full-image14.jpg');
}

#slide4{
  background-image: url('../img/full-image12.jpg');
}


/*  EXPLORE - Halaman Home  */

#explore {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('../img/full-image3.jpg');
}
#explore .dark-overlay  {
  background-color: rgba(0,0,0,0.2);
  width: 100%;
}


/*  MEMBER SHOWCASE - Halaman Home  */

#member-showcase img {
  width: 100px;
}

#member-showcase img:hover {
  filter: brightness(120%);
}


/*  MEMBER LIST - Halaman Home  */

#member-list .card-body img {
  width: 125px;
  margin-top: -80px;
}


/* HEADER IMAGE - Untuk selain halaman Home  */

.header-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
}

.header-overlay {
  background-color: rgba(0,0,0,0.2);
  width: 100%;
  height: 300px;
}

.header-image h1{
  margin-top:120px;
}

/* HEADER IMAGE - Gambar untuk setiap halaman  */

#blog-header{
  background-image: url('../img/full-image7.jpg');
  background-position-y: -200px;
}

#article-header{
  background-image: url('../img/full-image8.jpg');
  background-position-y: -200px;
}

#gallery-header{
  background-image: url('../img/full-image2.jpg');
  background-position-y: -400px;
}

#login-header{
  background-image: url('../img/full-image10.jpg');
  background-position-y: -100px;
}

/* GALLERY IMAGE - untuk efek hover  */

#gallery img:hover {
  transform: scale(1.1);
  transition-property: transform ;
  transition-duration: .5s;
}
