/*Profil*/

	#profil .warna{
		background-color: #dedede;
	
    }
    .a{
		background-color: #1692d0;
		border-radius: 0px;
	}
		/*width: 120%;*/
	/*	padding-right: 100px;
	}*/
	.b{
		background-color: #ff776c;
		border-radius: 0px;
		/*width: 120%;*/
		/*padding-right: 65px;*/
	}
	.c{
		background-color: #ffa31b;
		border-radius: 0px;
		/*width: 120%*/;
		/*padding-right: 95px;*/
	}
	.d{
		background-color: #78b24b;
		border-radius: 0px;
		
		/*padding-right: 20px;*/
	}
	.e{
		background-color: #987cca;
		border-radius: 0px;
		/*width: 120%;*/
		/*padding-right: 145px;*/
	}
	.f{
		background-color: #25cad6;
		border-radius: 0px;
		/*width: 120%;*/
		/*padding-right: 110px;*/
	}
	.g{
		background-color: #5d5567;
		border-radius: 0px;
		/*width: 120%;
	}*//*padding-right: 60px;*/
	